---
title: MYD - Projects
---

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<div class="projects-wrapper">
  <% page_articles.each_with_index do |article, i| %>
    <div class="projects-post">
      <%= link_to image_tag(article.data.imgloc + "/" + article.data.thumb, alt: article.title, class: 'thumb'), article.url %>
      <div class="project-summary">
        <%= link_to article.title, article.url, :class => "blog-link" %>
        <div class="summary">
          <%= article.summary(150) %>
          <span class="read-more"></span>
        </div>
          <span class="date"><%= article.date.strftime('%b %e') %> </span>
      </div>
    </div>
  <% end %>
</div>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
