$grey: #545454;
$highlight1: rgb(248, 233, 145);
$highlight2: rgb(145, 248, 216);
$highlight3: rgb(248, 145, 167);
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  // padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }    

  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after,
  .hamburger.is-active .hamburger-inner-h1,
  .hamburger.is-active .hamburger-inner-h1::before,
  .hamburger.is-active .hamburger-inner-h1::after,
  .hamburger.is-active .hamburger-inner-h2,
  .hamburger.is-active .hamburger-inner-h2::before,
  .hamburger.is-active .hamburger-inner-h2::after,
  .hamburger.is-active .hamburger-inner-h3,
  .hamburger.is-active .hamburger-inner-h3::before,
  .hamburger.is-active .hamburger-inner-h3::after {
    background-color: $grey; }

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner, .hamburger-inner-h1, .hamburger-inner-h2, .hamburger-inner-h3 {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after,
  .hamburger-inner-h1, .hamburger-inner-h1::before, .hamburger-inner-h1::after,
  .hamburger-inner-h2, .hamburger-inner-h1::before, .hamburger-inner-h2::after,
  .hamburger-inner-h3, .hamburger-inner-h1::before, .hamburger-inner-h3::after, {
    width: 30px;
    height: 3.7px;
    background-color: $grey;
    border-radius: 1.8px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }


  .hamburger-inner::before, .hamburger-inner::after,.hamburger-inner-h1::before, .hamburger-inner-h1::after,
  .hamburger-inner-h2::before, .hamburger-inner-h2::after,
  .hamburger-inner-h3::before, .hamburger-inner-h3::after, {
    content: "";
    display: block; }
  .hamburger-inner::before, 
  .hamburger-inner-h1::before,
  .hamburger-inner-h1::before,
  .hamburger-inner-h1::before {
    top: -8px; }
  .hamburger-inner::after {
    bottom: -8px; }
  .hamburger-inner-h1::after {
    -webkit-animation: hamburger-highlight 1s;
    animation: hamburger-highlight 1s;
    bottom: -8px;
    background-color: $highlight1; }
  .hamburger-inner-h2::after {
    -webkit-animation: hamburger-highlight 1s;
    animation: hamburger-highlight 1s;
    bottom: -8px;
    background-color: $highlight2; }
  .hamburger-inner-h3::after {
    -webkit-animation: hamburger-highlight 1s;
    animation: hamburger-highlight 1s;
    bottom: -8px;
    background-color: $highlight3; }

  @keyframes hamburger-highlight {
    0%, 100% {
      width: 0%;
    }
    100%, 100% {
      width: 100%;
    }
  }

  /*
   * Arrow
   */
.hamburger--arrow.is-active .hamburger-inner::before, .hamburger--arrow.is-active .hamburger-inner-h1::before,
.hamburger--arrow.is-active .hamburger-inner-h2::before,.hamburger--arrow.is-active .hamburger-inner-h3::before  {
  transform: translate3d(-3px, 2.5px, 0) rotate(-28deg) scale(0.8, 1); }

.hamburger--arrow.is-active .hamburger-inner::after,.hamburger--arrow.is-active .hamburger-inner-h1::after,
.hamburger--arrow.is-active .hamburger-inner-h2::after,
.hamburger--arrow.is-active .hamburger-inner-h3::after {
  transform: translate3d(-3px, -2.5px, 0) rotate(28deg) scale(0.8, 1); }
  