@import url(normalize.css);
@import url(hamburger.css);
@import url('https://fonts.googleapis.com/css?family=Oswald:600');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Russo+One&subset=cyrillic');
* { box-sizing: border-box; }
img:focus { outline: none }

/* force scrollbar */
html {
  height: 100%;
  display: flex;
  justify-content: center;
}

body {
  width: 90vw;
  margin: 0;
  background-color: #ffffff;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-top: 6vh;
  padding-bottom: 8vh;
  min-height: 10vh;
}

.logo {
  font-size: calc(2vw + 3vh + .5vmin);
  font-family: "Russo One", 'sans-serif';
  a {
    color: #333;
    text-decoration: none;  
  }
}

.nav {
  width: 40%;
  display: flex;
  justify-content: space-around;
  font-family: 'PT Sans', 'sans-serif';
  font-size: calc(0.6vw + 0.5vh + .5vmin);
  a {
    color: #333;
    padding: 0px 2px 2px 2px;
    text-decoration: none;
  }
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline-width: 0;
}

.img:focus {
  outline-width: 0;
}

.content {
  flex: 1 1 auto;
}

.mosaic {
  columns: 4;
  column-gap: 7px;
  grid-row: span 2;
}

.grid-item:nth-child(4n+1) {
  clear: left;
}

.grid-ite {
  float: left;
}

.mosaic img {
  width: 100%;
  margin-top: 5px;
  height: auto;
  float: left;
}

// .masonry {
//   display: grid;
//   grid-gap: 5px;
//   grid-column-gap: 10px;
//   grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
//   grid-auto-rows: 0;
// }

// .masonry-content img {
//   width: 100%;
//   height: auto;
// }

.mobile-scroll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  -webkit-overflow-syrolling: touch;
}

.mobile-scroll-img {
  scroll-snap-align: center;
  width: 100%;
  height: auto;
  max-height: 74vh;
  padding: 0px 5px 0px 5px;
}

.closeSiema {
  margin-top: 4vh;
  margin-left: 90%;
  margin-bottom: 2vh;
  display: none;
}

.closeSiema {
  background: LightGrey;
  height: 39px;
  position: relative;
  width: 8px;
  transform: rotate(45deg);
} 

.closeSiema:after { 
  background: LightGrey;
  content: "";
  height: 8px;
  left: -15px;
  position: absolute;
  top: 15px; 
  width: 39px;
}

.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

.lightbox-bck {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.98;
  background-position: center;
  background-size: cover;
  background: #ffffff;
}

.img-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.lightbox-img {
  display: block;
  max-height: 95vh;
  max-width: calc(90vw - 100px);
  transition: 0.8s cubic-bezier(0.7, 0, 0.4, 1);
  transform-style: preserve-3d;
}

.left {
  margin-left: 5vw;
  z-index: 50;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrowl {
  background: LightGrey;
  height: 26px;
  position: relative;
  transform: rotate(47deg);
  width: 8px;
}

.arrowl:after {
  background: LightGrey;
  content: "";
  height: 8px;
  left: 0px;
  position: absolute;
  top: 19px; 
  width: 27px;
}

.right {
  margin-right: 5vw;
  z-index: 50;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrowr {
  background: LightGrey;
  height: 26px;
  position: relative;
  transform: rotate(-50deg);
  width: 8px;
}

.arrowr:after {
  background: LightGrey;
  content: "";
  height: 8px;
  left: -19px;
  position: absolute;
  top: 18px; 
  width: 27px;
}

.projects-wrapper {
  width: 90%;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8vh;
}

.projects-post {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.projects-post:hover {
  -webkit-box-shadow: 6px 11px 15px 0px rgba(18, 76, 91, 0.06);
  -moz-box-shadow:    6px 11px 15px 0px rgba(18, 76, 91, 0.06);
  box-shadow:         6px 11px 15px 0px rgba(18, 76, 91, 0.06);
}

.thumb {
  object-fit: cover;
  width: 32vh;
  height: 32vh;
  justify-content: stretch;
}

.project-summary {
  text-align: left;
  padding: 0px 10px 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .blog-link, .blog-link:visited {
    color: #333;
    text-decoration: none;
    font-size: 2rem;
    font-family: "PT Sans", 'sans-serif';
    font-weight: bold;
    text-transform: lowercase;
    line-height: 30px;
  }

  p {
    font-family: "PT Sans", 'sans-serif';
    margin: 0px 0px 0px 0px;
    font-size: 16px;
    line-height: 20px;
  }
}
.date {
  color: lightgray;
  font-size: 13px;
}

h1, h2 {
  margin: 0px;
  padding: 0px;
}

.project-summary p {
  text-align: left;
}

.project-page-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.project-page-article {
  display: flex;
  flex-direction: column;
  p {
    font-family: 'PT Sans', 'sans-serif';
    line-height: 25px;
    text-align: left;
  }
  h1 {
    font-family: "PT Sans", 'sans-serif';
    text-transform: lowercase;
    margin: 5vh 0px;
  }
}

aside {
  text-align: center;
  align-self: end;
  a {
    color: #333;
    text-decoration: none;
  }
  h3 {
    margin: 4vh 0px;
  }
}

.project-page-wrapper {
  p, h1, h2, h3 {
    padding: 0px 3% 0px 3%;
  }
}

.about-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.about-summary {
  width: 50%;
  line-height: 25px;
  text-align: left;
}

.myphoto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 30%;
}

.instagram {
  margin: 0px 10px 0px 10px;
  width: 25px;
  height: 25px;
}

.instagram-link {
  display: flex;
  align-items: center;

  a {
    margin: 0;
    padding: 0px;
  }
}

@media (max-width: 1200px){

  .project-page-article {
    order: -1;

    h1 {
      margin: 2vh 0;
    }
  }

  .mosaic {
    order: 2;
  }

  aside {
    order: 3;
  }

  .projects-post {
    grid-template-columns: 1fr;
  } 

  .projects-post>a {
    justify-content: center;
    align-items: flex-start;
  }

  
  a.blog-link {
    text-align: center;
  }
  
  .project-summary {
    padding: 0px;

    p {
      padding: 10px 0px;
    }
  }

  .project-page-wrapper {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1280px) {
  .mosaic img {
    -webkit-animation-name: img-slide;
    animation-name: img-slide;
    animation-duration: 0.8s;
  }
}

@media (max-width: 768px) {
  body {
    width: 100vw;
  }

  //making navigation sticky
  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .content-scroll {
    flex: 1 1 auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .header {
    padding-top: 2vh;
    padding-bottom: 2vh;
    flex: 0 0 auto;
    width: 100vw;
    align-items: center;
  //end of making navigation sticky
    .logo {
      display: block;
      padding-left: 5vw;
      -webkit-animation-name: slide-in;
      animation-name: slide-in;
      animation-duration: 0.6s;
      animation-fill-mode: forwards;
    }
    .hamburger {
      display: block;
    }
  }

  .nav {
    display: none;
  }

  .header-active{
    .logo {
      display: none;
    }
    .nav {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      -webkit-animation-name: slide-in;
      animation-name: slide-in;
      animation-duration: 0.6s;
      animation-fill-mode: forwards;
      a {
        padding: 0px;
        letter-spacing: 0.7px;
        font-size: calc(1vw + 1vh + .5vmin);
        font-weight: 500;
      }
    }

    @-webkit-keyframes slide-in{
        0%, 100% {
          border-bottom: 0px;
          letter-spacing: 5px;
          margin-left: -20%;
        }
        100%, 100% {
          border-bottom: 2px;
          letter-spacing: 0px;
          margin-left: 0px;
        }
    }
    @keyframes slide-in{
        0%, 100% {
          border-bottom: 0px;
          letter-spacing: 5px;
          margin-left: -20%;
        }
        100%, 100% {
          border-bottom: 2px;
          letter-spacing: 0px;
          margin-left: 0px;
        }
    }
  }

  .mosaic {
    columns: 2;
    column-gap: 4px;

    img {
      margin: 1px;
    }
  }

  .projects-wrapper {
    width: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .projects-post {
    width: 90%;
    grid-template-columns: 1fr;
  }

  .about-wrapper {
    flex-direction: column;
    align-items: center;

    .myphoto {
      width: 80%;
      height: auto;
    }

    .about-summary {
      width: 80%;
    }
  }
}
// end of mobile query


@mixin link-active-1-3 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  animation-fill-mode: forwards;

  &:after {
    content: '';
    width: 100%;
    margin-top: 1px;
		height: 2px;
    background-color: rgb(247, 233, 145);
    -webkit-animation-name: border-slide;
    animation-name: border-slide;
    animation-duration: 0.8s;
  }
}

@mixin link-active-2 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  animation-fill-mode: forwards;

  &:after {
    content: '';  
    width: 100%;
    margin-top: 1px;
		height: 2px;
    background-color: rgb(145, 248, 216);
    -webkit-animation-name: border-slide;
    animation-name: border-slide;
    animation-duration: 0.8s;
  }
}

@mixin link-active-3 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  animation-fill-mode: forwards;

  &:after {
    content: '';
    width: 100%;
    margin-top: 1px;
		height: 2px;
    background-color: rgb(248, 145, 167);
    -webkit-animation-name: border-slide;
    animation-name: border-slide;
    animation-duration: 0.8s;
  }
}


.link-active-1 {
  @include link-active-1-3;
}

.nav .link:nth-child(-n+3):hover {
  @include link-active-1-3;
}

.nav .link:nth-child(-n+3):active {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.link-active-2 {
  @include link-active-2;
}

.nav a:nth-child(4):hover {
  @include link-active-2;
}

.link-active-3 {
  @include link-active-3;
}

.nav a:nth-child(5):hover {
  @include link-active-3;
}



@-webkit-keyframes border-slide {
  0%, 100% {
    width: 0%;
  }
  100%, 100% {
    width: 100%;
  }
}
@keyframes border-slide {
  0%, 100% {
    width: 0%;
  }
  100%, 100% {
    width: 100%;
  }
}

@-webkit-keyframes img-slide {
  0%, 100% {
    margin-top: 20%;
  }
  100%, 100% {
    margin-top: 5px;
  }
}
@keyframes img-slide {
  0%, 100% {
    margin-top: 20%;
  }
  100%, 100% {
    margin-top: 5px;
  }
}