<div class="header">
    <div class="logo"><a href="/">MIHAYLO DIMO</a></div>
    <div class="nav">
        <a class="link" href="/street">street</a>
        <a class="link" href="/landscape">landscape</a>
        <a class="link" href="/portrait">portrait</a>
        <a class="link" href="/projects">projects</a>
        <a class="link" href="/about">about</a>
    </div>
    <button class="hamburger hamburger--arrow" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</div>
