<div class="about-wrapper">
    <%= image_tag("images/portraits/miko.jpg", :class => "myphoto") %>
    <div class="about-summary">
        <p>
            Adventures, smiles, passionate people and heart warming views. I love encapsulating experiences and bringing my vision of stunning people/places/ideas to you! Whether it's winter or summer, you'll always find me on the move.<br><br>
            You've got an idea and think I'm the right guy for you? So do I!<br>Let's have a chat-<br><br>
            +359 883 567 895,<br>
            <a style="color: #f891a7;" href="mailto:mihaylo.dimo@gmail.com">mihaylo.dimo@gmail.com</a><br>
        </p>
        <div class="instagram-link">
            <p>Latest adventures -----></p>
            <a href="https://www.instagram.com/mihaylo.dimo/">
                <img src="https://instagram-brand.com/wp-content/uploads/2016/11/app-icon2.png" alt="instagram link" class="instagram">
            </a>
        </div>
    </div>
</div>