---
pageable: true
per_page: 10
---

<div id="img-content" class="grid">
    <div class="grid-sizer"></div>
    <% landscapes = Dir.glob("source/images/landscapes/*.jpg") %>
    <% portraits = Dir.glob("source/images/portraits/*.jpg") %>
    <% street = Dir.glob("source/images/street/*.jpg") %>
    <% allPhotos = landscapes + portraits + street %>
    <% allPhotos.shuffle.each do |image| %>
        <% l = image.split("/") %>
        <% currImg = l[1] + "/" + l[2] + "/" + l[3] %>
        <%# <div class=""> %>
            <img src="<%= currImg %>" alt="" class="grid-item">
        <%# </div> %>
    <% end %>
</div>
<div class="closeSiema"></div>
<div class="lightbox">
    <div class="lightbox-bck"></div>
    <div class="img-wrapper"></div>
</div>

