---
title: MYD - Landscape
---

<div id="img-content" class="grid">
    <div class="grid-sizer"></div>
    <% Dir.glob("source/images/landscapes/*.jpg").each do |image| %>
        <%= image_tag("images/landscapes/#{image.split('/').last}", :class => "grid-item") %>
    <% end %>
</div>
<div class="closeSiema"></div>
<div class="lightbox">
    <div class="lightbox-bck"></div>
    <div class="img-wrapper"></div>
</div>