<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="language" content="English">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "MYD" %></title>
    <%= stylesheet_link_tag "site5" %>
    <%= javascript_include_tag "jqueryv3-3-1" %>
    <%= javascript_include_tag "lazysizes.min.js" %>
    <%= javascript_include_tag "siteNew-3" %>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <%= partial "partials/nav" %>
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
